---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { projects } from "../solid/projectData";
import ProjectPreview from "../solid/ProjectPreview";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <p>
        Hey, I'm Szymon and I'm as Typescript and Rust enthusiast. I love
        tinkering and learning about new stuff. I'm a full stack developer that
        works in any technology that justifies it's usage. Though i prefer those
        technologies to be Typescript and Rust :)
        <p>Currently working as a staff software engineer at NordVPN.</p>
      </p>
      <p>
        I've finished University of Science and Technologdy in Wroclaw with a
        Bachelor's degree in Computer Science(with specialization of Computer
        Networks)
      </p>
      <p>Here's some of the stuff I've created</p>
      {
        projects.map(({ title, logo, description, githubLink, language }) => {
          return (
            <li>
              <a href={githubLink}>{title}</a>
            </li>
          );

          // return (
          //   <ProjectPreview
          //     logo={logo}
          //     title={title}
          //     description={description}
          //     githubLink={githubLink}
          //     language={language}
          //   />
          // );
        })
      }
      <p class="mt-1">
        And contributed to some OSS projects like `4Catalyzer/found` or
        `react-bootstrap`
      </p>
      <Footer />
    </main>
  </body>
</html>
